<%= form_with(model: rent, local: true) do |form| %>
  <% if rent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rent.errors.count, "error") %> prohibited this rent from being saved:</h2>

      <ul>
      <% rent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cassette_id %>
    <%= form.text_field :cassette_id %>
  </div>

  <div class="field">
    <%= form.label :member_id %>
    <%= form.text_field :member_id %>
  </div>

  <div class="field">
    <%= form.label :start_rent %>
    <%= form.date_select :start_rent %>
  </div>

  <div class="field">
    <%= form.label :end_rent %>
    <%= form.date_select :end_rent %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
