<%= form_with(model: cast, local: true) do |form| %>
  <% if cast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cast.errors.count, "error") %> prohibited this cast from being saved:</h2>

      <ul>
      <% cast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :movie_id %>
    <%= form.text_field :movie_id %>
  </div>

  <div class="field">
    <%= form.label :actor_id %>
    <%= form.text_field :actor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
